<tr id="<%= dom_id request %>">
  <td class="whitespace-nowrap py-4 pl-4 pr-3 sm:pl-6">
    <%= render RailsLiveDashboard::RequestMethodBadgeComponent.new(request.content.method) %>
  </td>
  <td class="whitespace-nowrap px-3 py-4 text-sm text-gray-500">
    <%= request.content.path %>
  </td>
  <td class="whitespace-nowrap px-3 py-4">
    <%= render RailsLiveDashboard::RequestStatusBadgeComponent.new(request.content.status) %>
  </td>
  <td class="whitespace-nowrap px-3 py-4 text-sm text-gray-500">
    <%= request.created_at.strftime("%Y-%m-%d %H:%M:%S") %>
  </td>
  <td class="relative whitespace-nowrap py-4 pl-3 pr-4 text-right text-sm font-medium sm:pr-6">
    <%= link_to 'Show', rails_live_dashboard.request_path(request), class: 'text-indigo-600 hover:text-indigo-900' %>
  </td>
</tr>
