<li>
  <%= link_to rails_live_dashboard.request_path(request), 'data-turbo-frame': :_top, class: 'relative flex justify-between gap-x-6 px-4 py-5 hover:bg-gray-50 sm:px-6' do %>
    <div class="flex min-w-0 gap-x-4">
      <div class="min-w-0 flex-auto">
        <p class="text-sm leading-6 text-gray-900">
          <%= render RailsLiveDashboard::RequestMethodBadgeComponent.new(request.content.method) %>
        </p>
        <p class="mt-2 flex text-sm leading-6 text-gray-900">
          <%= request.content.path %>
        </p>
      </div>
    </div>
    <div class="flex shrink-0 items-center gap-x-4">
      <div class="hidden sm:flex sm:flex-col sm:items-end">
        <p class="text-sm leading-6 text-gray-900">
          <%= render RailsLiveDashboard::RequestDurationBadgeComponent.new(request.content.duration) %>
        </p>
        <p class="mt-1 text-xs leading-5 text-gray-500">
          <%= request.created_at.strftime("%Y-%m-%d %H:%M:%S") %>
        </p>
      </div>
      <%= lucide_icon('chevron-right', class: 'h-5 w-5 flex-none text-gray-400') %>
    </div>
  <% end %>
</li>
